.App {
  text-align: center;
}
.jokeList{
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.jokeCard{
  background-color: rgb(175, 228, 228);
  margin: 10px;
  width: fit-content;
}
